# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Pycharm_dome\Jnulaboratorysafety\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
